.siimple-jumbotron.jumbotron {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(64, 64, 64, .7), rgba(64, 64, 64, .7)), url(../images/top.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  -moz-background-size: cover;
  background-size: cover;
}
.siimple-jumbotron.jumbotron .siimple-jumbotron-subtitle {
  opacity: 1.0;
}
.siimple-jumbotron.jumbotron .siimple-jumbotron-detail {
  opacity: 1.0;
}

.top_social_buttons {margin: 15px; padding: 0px}
.top_social_buttons li { display: inline; margin: 15px; }
.top_social_buttons li i { width: 30px; height: 30px; line-height: 30px; border-style: none; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-color: #60D2B6; color: #fff; margin: auto; font-size: 1.2em; transition: 0.5s;}
.top_social_buttons li i:hover { color: #60D2B6; background-color: #fff;}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  text-align: center;
}

a {color: #209276;}
a:hover {color: #209276;}
a:visited {color: #209276;}